<ion-header>
  <ion-toolbar>
    <ion-title>
      Informações sobre o APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
      <ion-list-header>
        Sobre o criador do App
      </ion-list-header>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Um cara muito bom em dev</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Melhor dos melhores</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Esse é o cara</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
</ion-content>
